@import "tailwindcss";

/* Deixa a barra mais fina e estilizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Cor do fundo do scroll */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #405563; /* Cor da "alça" do scroll */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Cor ao passar o mouse */
}